@model IEnumerable<ClothCanvas.Entity.Supplier>

@{
    ViewData["Title"] = "Suppliers";
}

<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Supplier</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().ContactInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().CreatedAt)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => supplier.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => supplier.ContactInfo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => supplier.CreatedAt)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@supplier.SupplierId" class="btn btn-secondary">Edit</a>
                    <a asp-action="Details" asp-route-id="@supplier.SupplierId" class="btn btn-info">Details</a>
                    <a asp-action="Delete" asp-route-id="@supplier.SupplierId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
